@font-face{
  font-family: 'Glyphicons Halflings';

  src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

*{
  font-family: 'Oswald', sans-serif;
}


div.accuse{
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px 20px;
  margin-bottom: 20px;
}

div.grade{
  display: inline;
  margin-left: 3px;
  margin-right: 3px;
}

.radius{
  border-radius: 10px;
}

#button{
  background-color:rgba(7, 66, 117, 0.3);
}

#button:hover{
  background-color:rgba(7, 66, 117, 0.55);
}

td{
  border: 1px solid rgba(205, 205, 205, 0.1);
  border-radius: 20px;
}

#top{
  margin-bottom: 30px;
  text-align: center;
  border-bottom: solid 2px black;
}
